# autotools
Makefile
Makefile.in
configure
compile
depcomp
install-sh
missing
stamp-h1
autom4te.cache
aclocal.m4
config.*

# code::blocks
workspaces/Debug
workspaces/Release
workspaces/*.layout

# visual studio
workspaces/*.ncb

# binaries
src/.deps
src/crimesquad
*.o

